body
{
    background-color:indigo ;
}
.App h1{text-transform: capitalize;}
header{
    text-align: left;
    color: white;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    justify-content: left;
    width: 70%;
}

header.logo{
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px goldenrod
}
.top_header{
    background-color: darkslategrey;
    padding: 10px;
}
.header_links{
    display: inline-block;
    width: auto;
    padding: 10px;
}
.header_links a{
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
}
.header_links a:hover{
    background-color: #e5c5f8;
    color:darkslateblue;
}

.login_form, .admin_login_form{
   
    position: absolute;
    left: 35%;
    padding: 20px;
    top: 20%;
    background: rgb(41 8 66);
    width: 35%;
    border-radius: 2em;
    box-shadow: 5px 2px 5px black;
    overflow: hidden;
}
.login_form h3, .admin_login_form h3{ 
    color: honeydew;
    text-transform: uppercase;
}
.login_form a{
    text-decoration: none;
}
.login_form input, .admin_login_form input{
    margin: 30px 10px;
    padding: 10px;
    justify-content: center;
    width: 25em;
    border-radius: 10px;
    border: none;
}
input:hover{
    background-color: rgb(223, 231, 231);
}
.login_btn{
    background-color: #17c78d;
    border-radius: 30px;
    border: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
    width: 10em !important;
    display: inline-flex !important;
    margin: 5px !important;
}
.admin_login_btn{
    background-color: #17c78d;
    border-radius: 15px;
    border: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
}
.login_btn:hover, .admin_login_btn:hover{
    background-color: rgba(248, 135, 28, 0.925);
}
.banner_img img{
    width: 100%;
    height: 50em;
}
.register_home_btn{
    position:absolute;
    right: 15em;
    top: 18em;
}

.admin_login_form{
    background-color: rgb(6 40 37);

}

/*Registration Form*/

.registration{
    position: absolute;
    top: 20%;
    width: 65%;
    left: 18%;
    background: rgb(32 35 72);
    border-radius: 35px 35px 5px 5px;
    box-shadow: 2px 3px 5px black;
    display: inline-grid;
}
.registration h3{
    padding: 10px;
    text-transform: uppercase;
    color: thistle
}
.registration_form{
    background-color: rgb(185 199 217);
    padding: 20px;
    text-align: left;
    display: inline-grid;
    
}

.registration_form input{

    padding: 10px;
    border-radius: 5px;
    border: 2px solid grey;
    margin: 5px 10px;
    background-color: rgb(236, 232, 232);
    width: 15em;
}
.registration_form input:hover{
    background-color: rgb(232, 241, 248);
}
.registration_form input:focus{
    background-color: rgb(255, 254, 241);
  
}
.registration_form select{
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    margin:5px 10px;
}
.registration_form td{
    width: 5em;
}
.useraddress input{
    width: 75%;
}
.useraddress_zipcode input[type=number]{
    width: 10em;
}
.gender_radiobtn input[type=radio]{
    height: 18px;
    width: 18px;
}
td.regbtn{text-align: center;}
.register_btn{
    padding: 10px;
    border-radius: 30px;
    width: 10em;
    margin: 20px 0px;
    background-color: #a9003e;
    color: aliceblue;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 3px 7px black;
}
.register_btn:hover{
    background-color: #1eaa7b;
}

/*Invalid login page*/

.invalid_userloginpage button{
    width: 20%;
    padding: 12px;
    border-radius: 30px;
    background: darkmagenta;
    text-transform: uppercase;
    box-shadow: 2px 3px 5px black;
    border: 2px blue;
    color: aliceblue;
}

/*Footer*/
.footer{
    background-color: gray;
}

/*User logged page*/
.page_common{
    position: absolute; 
    display: grid;
    top: 20%; 
    left: 10%;
    width: 80%;
    background-color: rgb(193, 200, 230);
    padding: 20px;
    text-align: left;
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgb(83, 67, 83);
}
.page_common h1{ text-transform: capitalize;}
.user_enrollbtn{
    display: flex;
    padding: 40px;
}
.user_enrollbtn a{
    background: #0f6b45;
    width: 12em;
    margin: auto;
    padding: 5px;
    box-shadow: 2px 2px 3px black;
    border-radius: 25px;
    text-decoration: none;

}
.user_enrollbtn a:hover{
    background-color: #b6134f;
}
.user_enrollbtn button{
    display: flex;
    margin: auto;
    background: none;
    border: none;
}
.user_enrollbtn button:hover{
    background: none;
}
.tableDefault{
    width: 100%;
    text-align: center;
}
.user_courselist{
    
    width: 70%;
    margin: auto;
    padding: 10px;
}
.user_courselist h2{
    text-align: center;
    padding: 10px;
}

.user_navbar{
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 10px 0px;
    padding: 5px;
}
.user_navbar a{
    margin: 0px 10px 0px 5px;
    color: #a9003e;
    text-decoration: none;
}
.user_navbar a:hover{
    text-decoration: underline;
    
}
.user_lgout{
    display: inline-flex;
    justify-content: right;
    flex: auto;
}
.user_lgout p{
    margin: 10px; 
    text-transform: capitalize;
}
.user_lgout button{
    background-color: darkorchid;
    border: none;
    width: 15%;
    border-radius: 25px;
    color: white;
    box-shadow: 1px 2px 1px black;
}
.user_lgout button:hover{
    background-color: rgb(102, 114, 184);
}
/*Courses Page */
.invalid_userloginpage, .courses_page, .profile_page, .contactus_page{
    background-color:rgb(193, 200, 230);
    position: absolute;
    width: 80%;
    top: 20%;
    left: 10%;
    padding: 20px;
    text-align: left;
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgb(83 67 83);
    text-align: center;
    
}
.courses_page h1{ text-align: center;}
.socialmedia_links a{
    margin: 10px;
}