body
{
    background-color:indigo ;
}
header{
    text-align: left;
    color: white;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    justify-content: left;
    width: 70%;
}

.top_header{
    background-color: darkslategrey;
    padding: 10px;
}
.header_links{
    display: inline-block;
    width: auto;
    padding: 10px;
}
.header_links a{
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
}
.header_links a:hover{
    background-color: #e5c5f8;
    color:darkslateblue;
}

.login_form, .admin_login_form{
   
    position: absolute;
    left: 32em;
    padding: 20px;
    top: 7em;
    background: rgb(41 8 66);
    width: 30em;
    border-radius: 2em;
    box-shadow: 5px 2px 5px black;
    overflow: hidden;
}
.login_form h3, .admin_login_form h3{ 
    color: honeydew;
    text-transform: uppercase;
}
.login_form a{
    text-decoration: none;
}
.login_form input, .admin_login_form input{
    margin: 30px 10px;
    padding: 10px;
    justify-content: center;
    width: 25em;
    border-radius: 10px;
    border: none;
}
input:hover{
    background-color: rgb(223, 231, 231);
}
.login_btn{
    background-color: #17c78d;
    border-radius: 30px;
    border: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
    width: 10em !important;
    display: inline-flex !important;
    margin: 5px !important;
}
.admin_login_btn{
    background-color: #17c78d;
    border-radius: 15px;
    border: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
}
.login_btn:hover, .admin_login_btn:hover{
    background-color: rgba(248, 135, 28, 0.925);
}
.banner_img img{
    width: 100%;
    height: 42em;
}
.register_home_btn{
    position:absolute;
    right: 15em;
    top: 18em;
}

.admin_login_form{
    background-color: rgb(6 40 37);

}

/*Registration Form*/

.registration{
    position: absolute;
    top: 6em;
    width: 75%;
    left: 10em;
    background: rgb(157, 130, 206);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 3px 5px black;
}
.registration h3{
    padding: 10px;
    text-transform: uppercase;
}
.registration_form{
    background-color: rgb(238 239 158);
    padding: 20px;
}
.registration_form div{ 
    display: flex;
    flex-flow: row;
    gap: 1em;
    padding: 10px;

}
.registration_form div label{
    width: 10em;
    padding: 10px;

}

.registration_form div input{

    padding: 10px;
    width: 15em;
    border-radius: 5px;
    border: 2px solid grey;
}
div.gender_div{
    gap: 0;
}
div.gender_div input{
    width: 3em;
}

.register_btn{
    padding: 10px;
    border-radius: 10px;
    width: 7em;
    margin: 10px 0px;
    background-color: #a9003e;
    color: aliceblue;
    text-transform: uppercase;
    border: 1px solid grey;
}
.register_btn:hover{
    background-color: #1eaa7b;
}

/*Footer*/
.footer{
    background-color: gray;
}
.page_common{
    position: absolute; 
    display: grid;
    top: 6em; 
    width: 50em;
}
.tableDefault{
    width: 100%;
}